html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
}

header {
  background-color: rgb(68, 219, 126) !important;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}


#carruselPrincipal{
  margin-top: 80px;
}

header nav.navbar {
  background-color: rgb(68, 219, 126) !important;
  padding: 0px;
}

main {
  flex: 1;
}

footer {
  background-color: rgb(68, 219, 126);
}
nav.navbar button {
  background: #778575;
  color: #7580736c;
}

footer ul a {
  color: black !important;
}

#segundoFooter li {
  list-style: none;
}

#tercerFooter li {
  list-style: none;
}


  div.lista {
    width: 300px;
    margin-top: 50px;
  }

  div.lista ul.list-group {
    width: 350px;
    height: 200px;
    list-style: none;
  }

  #primeroFooter div.lista ul.list-group {
    margin-top: 0px;
    margin-bottom: -20px;
    width: 100%;
  }

  ul.list-group li.elementoListadoFooter {
    width: 100%;
  }

  li#tercerFooter {
    margin-top: 50px;
    font-weight: 550;
  }

  li.elementoListadoFooter {
    padding-left: 20px;
  }

  #logoDos {
    width: 80px;
    height: 80px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
  }

  #logoDosFooter {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
    margin-right: -60px;
    margin-left: calc(50% - 50px);
    margin-bottom: 0px;
  }

  ul#listadoPrincipal {
    display: flex;
    list-style: none;
  }

  footer ul {
    margin-top: 10px;
    margin-bottom: 100px;
  }

  div.container-fluid a {
    margin-right: 40px;
  }

  li#primeroFooter {
    margin-left: 2%;
    margin-right: 100px;
    width: 300px;
  }

  #segundoFooter {
    margin-right: 8%;
    margin-top: 50px;
  }

  li#tercerFooter {
    margin-top: 50px;
    font-weight: 550;
    margin-bottom: 40px;
  }

  #logoDos {
    width: 80px;
    height: 80px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
  }

#logoDosFooter {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 0px;
  margin: 0px;
  margin-right: -60px;
  margin-left: calc(50% - 50px);
  margin-bottom: 30px;
}

@media(max-width:1169px){

}