<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../css/index.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img id="logoDos" src="../../resources/logos/logoDoos.png">
                <a class="navbar-brand" href="#">Venta de lotes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item botonDesplegable">
                            <a class="nav-link" aria-current="page" href="./index.html"> Inicio </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./idividuales.html"> Lugares </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contactanos.html"> Contáctanos </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </main>

    <footer>
        <ul id="listadoPrincipal">

            <li id="primeroFooter">
                <div class="col-12 col-xs-6 col-md-4 lista">
                    <img id="logoDosFooter" src="../../resources/logos/logoDoos.png">
                    <ul class="list-group list-group-flush">
                        <li class="elementoListadoFooter">Venta de Lotes RB es una plataforma digital creada para simplificar 
                            y agilizar la compra y permuta de predios. Ofrecemos una experiencia segura, confiable y accesible, 
                            permitiendo a los usuarios explorar opciones y gestionar todo el proceso desde un solo lugar.
                        </li>
                    </ul>
                </div>
            </li>

            <li id="segundoFooter">
                <div class="col-12 col-xs-6 col-md-4 lista">
                    <ul class="list-group list-group-flush">
                        <li class="elementoListadoFooterCabeza"> Medios de contacto:</li>
                        <li class="elementoListadoFooter"> <br>Teléfono: +57 320 202 02 02</li>
                        <li class="elementoListadoFooter"><br>Correo : lotesRB@gmail.com</li>
                        <li class="elementoListadoFooter"><a href="https://wa.me/3202020202"
                                target="_blank"><br>Whatsapp</a>
                            y
                            <a href="https://discord.com/channels/1369696453437558856/1369703101119856822"
                                target="_blank">Discord</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="tercerFooter">
                <div class="col-12 col-xs-6 col-md-4 lista">
                    <ul class="list-group list-group-flush">
                        <li class="elementoListadoFooterCabeza"> Secciones principales:
                        </li>
                        <li class="elementoListadoFooter">
                            <a href="./index.html"><br>Inicio</a>
                        </li>
                        <li class="elementoListadoFooter">
                            <a href="./permutar.html"><br>Permutar</a>
                        </li>
                        <li class="elementoListadoFooter">
                            <a href="./contactanos.html"><br>Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </footer>
    <script src="../../resources/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>